* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: lightcyan;
    height: auto;
}
.banner{
    margin-bottom: -4px;
}
.barra{
    background-color: white;
    border: 1px solid black;
    height: auto;
    padding: 10px 0 10px 0;
}
.barra li{
    display: inline-flex;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-left: 6%;
    margin-right: 6%;
}
.barra ul{
    width: 100%;
    text-align: center;
}
main h2{
    padding-top: 100px;
    margin-bottom:50px; 
    text-transform: uppercase;
    font-size: 34px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
}
.texto{
    padding: 30px 0px 50px;
}
.texto2{
    padding: 30px 0px 50px;
}
.barra-footer{
    background-color: white;
    border: 1px solid black;
    width: auto;
    height: auto;
}
.barra-footer li{
    display: inline-flex;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-left: 3%;
    margin-right: 3%;
}
.barra-footer ul{
    width: 100%;
    text-align: center;
}
.barra-footer{
    margin-top: 50px;
}
.cadastrar{
    margin: 5px 0 50px;
    font-size: 14px;
    color: #050505;
    padding: 5px 20px;
    background-color: lightgray;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #000000;
     box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}
.chamaLogin{
    font-size: 40px;
    padding-top: 50px;
}
