<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sobre Nós</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="/css/sobreNos.css">
    <script src="main.js"></script>
</head>

<body>
    <header>
        <img class="banner" src="/imagens/banner.png" width="100%" height="auto" alt="banner">
        <div class="barra">
            <ul class="links">
                <li>
                    <a href="/Usuario/Index">Home</a>
                </li>
                <li>
                    <a href="/Usuario/Planos">Planos</a>
                </li>
                <li>
                    <a href="/Comentario/Suporte">Suporte</a>
                </li>
                <li>
                    <a href="/Usuario/Login">Login/Cadastrar</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <center>
            <div class="titulo">
                <h2>sobre nós</h2>
            </div>

            <div class="subtitulo">
                <h3>Como nos conhecemos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <br> Dignissimos nulla quia quibusdam, harum praesentium
                    <br> perspiciatis hic nihil inventore. Iure labore odit vitae
                    <br> similique consectetur harum aspernatur optio, cum aliquam
                    <br> voluptates.
                </p>
                <img src="/imagens/carfel.jpg" width="35%" height="35%" alt="imagem dos socios juntos">
                <h3>Porque decidimos criar o Check Point</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <br> Dignissimos nulla quia quibusdam, harum praesentium
                    <br> perspiciatis hic nihil inventore. Iure labore odit vitae
                    <br> similique consectetur harum aspernatur optio, cum aliquam
                    <br> voluptates.
                </p>
            </div>
        </center>
    </main>

    <footer>
        <div class="barra-footer">
            <ul>
                <li>Carfel@gmail.com</li>
                <li>Facebook/Carfel</li>
                <li>Instragram/Carfel</li>
                <li>2953-1148/98826-1272</li>
            </ul>
    </footer>
</body>

</html>